#hw_text, #ch_text
{
    display: block;
    resize: vertical;
    min-height: 100px;
    margin: 5px;
    width: 80%;
}
form#useradd
{
    float: left;
    width: 35%;
    transition: 0.5s;
    
    padding-left: 20px;
}
form#userdel
{
    float: right;
    width: 35%;
    transition: 0.5s;
    padding-left: 20px;
}
h4.userdisplay
{
    margin-top: 0px;
    margin-bottom: 25px;
}
h6.userdisplay
{
    margin-top: 20px;
    margin-bottom: 0px;
    font-size: 0.55em;
}
#maincontent {
    float: left;
    margin-left: 10px;
    width: 60%;
    background-color: #ffffff;
    min-height: 20%;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 20px;
}
ul#menu
{
    list-style-type: none;
    padding-left: 0;
}
ul>li[act]
{
    color: #222222;
    transition: 0.2s;
}
ul>li[act]:hover
{
    color: #888888;
    cursor: pointer;
}
body
{
    background-image: url("../res/bg.png");
    margin: 0;
}
h1.form-header
{
    text-align: center;
    color: #ffffff;
    margin-top: 3px;
}
#left-panel-wrap
{
    float: left;
    background-color: #cccccc;
    padding-top: 10px;
    padding-left: 25px;
    padding-right: 50px;
    padding-bottom: 30px;
    border-bottom-right-radius: 20px;
    font-size: 1.5em;
}
.error_msg
{
    color: #ff1010;
    display: none;
}
#login
{
    width: 40%;
    height: auto;
    margin: auto;
    margin-top: 20%;
    background: #000000;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 20px;
}
#loginform>input
{
    display: block;
    margin: auto;
    margin-top: 10px;
    height: 3em;
    text-align: center;
    font-size: 1em;
    border-radius: 25px;
    border: none;
    min-width: 20%;
    transition: ease-in-out 0.1s;
    background-color: #aaaaaa;
}
#loginform>input.input_text:focus
{
    border-radius: 5px;
    background-color: #ffffff;
}
#loginform>input:hover
{
    background-color: #dedede;
}
#loginform>input.input_text
{
    width: 80%;
}
input, label, select, button{
    margin: 5px;
}
input:hover, label:hover, select:hover, button:hover {
    transform:scale(1.05, 1.05);
}
input:hover, label:focus, select:focus, button:focus {
    transform: scale(1.07, 1.07);
}
input[type="text"], input[type="password"], input[type="button"], input[type="submit"], select
{
    padding-left: 10px;
    padding-right: 10px;
    background-color: #cccccc;
    border: 1px solid #cccccc;
    border-radius: 15px;
    transition:ease-in-out 0.2s;
}
input[type="text"]:focus, input[type="password"]:focus, input[type="button"]:focus, input[type="submit"]:focus, select:focus
{
     background-color: #ffffff;
     border: 1px solid black;
     border-radius: 2px;
     transition:ease-in-out 0.2s;
}
input[type="text"]:hover, input[type="password"]:hover, input[type="button"]:hover, input[type="submit"]:hover, select:hover {
    background-color: #eeeeee;
    border: 1px solid white;
    border-radius: 10px;
    transition: ease-in-out 0.2s;
}
textarea
{
    border-radius: 10px;
    border: 1px solid #cccccc;
    background-color: #cccccc;
    padding-left: 8px;
    padding-right: 8px;
    transition: ease-in-out 0.2s;
}
textarea:hover {
    border-radius: 8px;
    border: 1px solid #ffffff;
    background-color: #eeeeee;
    padding-left: 8px;
    padding-right: 8px;
    transition: ease-in-out 0.2s;
}
textarea:focus{
    background-color: #ffffff;
    border: 1px solid black;
    border-radius: 2px;
    transition:ease-in-out 0.2s;
}
